.wd-course-status-buttons{
    width:100%;
    margin-top:10px;
    margin-bottom:5px;
}

.wd-breadcrumbs {
    display: inline-block;
    margin-right:10px;
}

.wd-breadcrumbs .wd-crumb:after {
    content: ">";
    margin-left: 10px;
}

.wd-breadcrumbs .wd-crumb:last-child:after {
    content: "";
    margin-left: 0px;
}

.wd-breadcrumb-link{
    color:red;
    text-decoration: none;
}

.wd-breadcrumb-link-last{
    color:gray;
}